#background {
  background: linear-gradient(#03045e, #00b4d8);
  color: #90e0ef;
}

.title {
  text-align: center;
  color: #0077b6;
  font-size: 40px;
  text-shadow: 2px 1px #caf0f8;
}

.fish__image {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.main_section {
  display: flex;
}

.fishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.fish__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 200px;
  margin: 20px;
  border: 4px dotted #caf0f8;
  padding: 20px;
  background: #f07167;
}

.fish__name {
  font-size: 30px;
}

.tip_card {
  margin: 30px;
}
